<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle>
        <ion-item button routerLink="/menu">Inicio</ion-item>
        <ion-item button routerLink="">Ventas</ion-item>
        <ion-item button routerLink="/show-products">Productos</ion-item>
        <ion-item button routerLink="/providers">Proveedores</ion-item>
        <ion-item button routerLink="">Usuarios</ion-item>
        <ion-item button routerLink="">Configuración</ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>